* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Fonts */
/*? Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*? Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
button,
input,
textarea {
  font-family: "Poppins", "Roboto", sans-serif;
}

body {
  /* background-color: #222; */
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 100%;
  height: 100%;
  width: 70vw;
  height: 80vh;
  background-color: white;

  border-radius: 40px;

  display: grid;
  grid-template-columns: 0.6fr 1fr;
  overflow: hidden;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.15),
    -5px -5px 50px rgba(0, 0, 0, 0.15);
}

#sport-choice {
  background-color: lightseagreen;
  background-image: url("https://i.pinimg.com/originals/66/cf/0f/66cf0fa9379d11c0d49f32ae63247d94.gif");
  background-image: url("https://cdn.dribbble.com/users/31664/screenshots/6004976/var_dribbble.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;

  animation: animate-background 10s ease-in-out alternate infinite;
}

@keyframes animate-background {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#sport-choice i {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.signup-container {
  height: 100%;
  min-width: 4000px;
  display: flex;
}

.signup {
  height: 100%;
  width: 700px;

  display: flex;
  flex-direction: column;
  margin: 4rem 8rem;
}

.steps {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.step {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

.number {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  color: rgb(48, 48, 48);
}

.number-active {
  background-color: rgb(48, 102, 160);
  color: rgb(255, 247, 247);

  transition: color 0.5s ease-in, background-color 0.7s 0.1s ease-in;
}

.title {
  font-weight: 600;
  margin: 0 0.5rem;
}

.signup-forms {
  position: relative;

  display: flex;
  justify-content: space-between;

  overflow-x: hidden;
}

.signup-forms h3 {
  top: 0%;
  left: 1%;
  position: absolute;
  font-size: 2.2rem;
  font-family: "Poppins";
}

.form-container {
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  min-width: 575px;
  min-height: 380px;

  border-bottom: 1px solid rgb(216, 216, 216);
}

.form-input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-input {
  display: flex;

  margin: 0.6rem 0;
  flex-direction: column;
}

.form-input label {
  font-size: 0.8rem;
  margin: 0 1rem;
  color: #777;
}

.form-input input,
select {
  padding: 0.9rem 0.7rem;
  border-radius: 6px;
  margin: 0 1rem;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.form-input-row input,
select {
  width: 250px;
}

.profile-picture {
  width: 575px;
  align-items: center;
  display: flex;
}

.profile-picture input {
}

.profile-picture img {
  height: 250px;
  clip-path: circle(85px at center);
}

.signup-actions {
  width: 85%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-actions button {
  padding: 1rem 2rem;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.plans {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 700px;
  height: 375px;
  display: flex;
  align-items: center;
}

.plan {
  margin: 1rem;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15),
    -3px -3px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 90%;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#plan-1 .select-plan {
  background-color: rgb(232, 232, 232);
  color: #222;
}

#plan-2 .select-plan {
  background-color: #3f3fff;
}

#plan-3 .select-plan {
  background-color: #ceb038;
}

.plan .advantages {
  list-style: none;
  min-height: 150px;
}

.plan .advantage {
  color: #222;
  font-weight: 600;
}
.plan .advantage::before {
  content: "🐉";
}

.plan .popularity {
  position: absolute;
  top: -5%;
  right: -5%;
  font-size: 1.7rem;
}

.pricing {
  position: relative;
  padding: 0.4rem;
  font-size: 0.6rem;
  color: #3f3fff;
}

.pricing .currency {
  font-size: 0.6rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 25%;
}

.pricing .amount {
  font-size: 2rem;
  font-weight: bold;
}

.plan .select-plan {
  padding: 0.2rem 2.6rem;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  color: white;
}

.home-page {
  border: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  font-weight: bold;
}

.next-step {
  background-color: rgb(63, 63, 255);
  color: white;
  border: none;
}

.previous-step {
  background-color: rgb(241, 42, 42);
  color: white;
  border: none;
}

#home-btn {
  padding: 0.4rem 2rem;
  position: absolute;
  top: 5%;
  left: 16%;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid black;
}
