/** Fonts */
/*? Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*? Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary-0: #0e1628;
  --color-primary-1: #1f2f55;
  --color-primary-2: #17233f;
  --color-primary-3: #0a152d;
  --color-primary-4: #04112d;

  --color-secondary-1: #171927ff;
  --color-secondary-2: #f2f2f3ff;
  --color-secondary-3: #26293bff;
  --color-secondary-4: #834825ff;
  --color-secondary-5: #958a32ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-secondary-1);
  color: var(--color-secondary-2);
  overflow-x: hidden;
}

main {
  min-width: 100vw;
  min-height: 100vh;
}

main::-webkit-scrollbar {
  display: none;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
}

/** Header */

header {
  background-color: var(--color-secondary-3);
  min-height: 60px;
  position: fixed;
  width: 100vw;
  z-index: 19;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
}

/** Footer */

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0%;
  left: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}

#nav-logo {
  height: 50px;
  margin-right: 4rem;
  cursor: pointer;
}

/** Search Bar */

.searchbar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: center; */
  align-items: flex-start;
}

.searchbar-container input {
  width: 300px;
  position: relative;
  padding: 0.4rem 1rem;
  /* border-radius: 25px; */
  border: 2px solid rgb(59, 59, 211);
  background-color: rgba(93, 93, 175, 0.26);
  outline: none;
  color: white;
}

#auto-complete {
  position: absolute;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: black;
  top: 38px;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
}

.auto-complete-response {
  width: 100%;
  padding: 0.4rem;
}

.auto-complete-response:hover {
  background-color: #ccc;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  /* color: #ccc; */
  color: var(--color-secondary-2);
  font-weight: 500;
  padding: 1rem;
  margin: 0 0.2rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #fff;
}

#live-status {
  color: rgb(177, 66, 66);
}

#live-status:hover {
  color: red;
}

.nav-profile {
  display: flex;
  align-items: center;
}

.nav-profile img {
  height: 50px;
  clip-path: circle(25px at center);
  cursor: pointer;
}

.nav-profile i {
  color: var(--color-primary-0);
  cursor: pointer;
  font-size: 2rem;
}

/** Main */

main {
  overflow-x: hidden;
  padding-top: 60px;
}

.container {
  min-height: 100vh;
  max-width: 100vw;
  /* background-color: var(--color-primary-0); */
}

.bg-video {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: -1;
}

.bg-video video {
  width: 85%;
  border-radius: 25px;
  filter: brightness(0.7);
  transition: filter 0.2s ease;
}

.bg-video video:hover {
  filter: brightness(1);
}

/** Menu */

.fader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.747);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

#menu {
  background-color: var(--color-primary-0);
  max-width: 450px;
  height: 100vh;
  z-index: 20;
  position: fixed;
  transform: translateX(100%);
  right: 0;
  top: 0;
  overflow-y: scroll;
  transition: transform 0.5s ease;
}

#menu::-webkit-scrollbar {
  display: none;
}

.menu-title {
  padding: 1.5rem 0;
  border-bottom: 2px solid var(--color-primary-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
}

.profile-info {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info img {
  height: 175px;
  clip-path: circle(78px at center);
  margin: 1rem 0;
  cursor: pointer;

  transition: filter 0.2s ease;
}

.profile-info img:hover {
  filter: brightness(0.5);
}

.profile-info p {
  color: #777;
}

.profile-stats {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem;
  background-color: #17233f;
}

.profile-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-stat:not(.profile-stat:last-child) {
  padding-right: 2rem;
  border-right: 2px solid var(--color-primary-1);
}

.profile-stat p {
  color: #777;
}

.menu-options {
  width: 100%;
  margin: 1rem 0;
}

.menu-option {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
  margin: 0.2rem 0;
  color: rgb(52, 50, 73);
  cursor: pointer;
  transition: all 0.2s linear;
  border-left: 3px solid transparent;
}

.menu-option:hover {
  color: white;
}

.menu-option i {
  color: var(--color-primary-2);
  padding: 0 0.8rem 0 0.3rem;
  font-size: 1.2rem;
}

.highlighted-menu i {
  color: yellow;
}

.highlighted-menu {
  border-left: 3px solid yellow;
}

.highlighted-menu h3 {
  color: #ccc;
}

.fav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.fav-title i {
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.teams {
  transition: all 0.75s ease-in-out;
  height: 0;

  overflow-y: hidden;
}

.team {
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
  font-weight: 500;
  color: rgb(66, 60, 78);
  transition: all 0.2s linear;
  cursor: pointer;
}

.team:hover {
  color: white;
}

.menu-team-logo {
  height: 40px;
  border: 1px solid var(--color-primary-2);
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 50%;

  transition: all 0.25s ease;
  cursor: pointer;
}

.menu-team-logo:hover {
  border: 1px solid white;
}

.view-more {
  padding: 0.6rem 1.2rem;
  margin: 0.2rem 0 1rem 1rem;

  font-weight: 800;
  color: #111;

  background-color: yellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/** Saved */

.saved-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.saved-title i {
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.saved {
  height: 100%;
  margin-bottom: 5rem;
}

.saved-matches {
  width: 100%;
  margin: 1rem 0;
  height: 0;
  overflow-y: hidden;
  transition: all 0.75s ease-in-out;
}

.saved-match {
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;

  margin: 0.2rem 0;
  color: rgb(52, 50, 73);
  transition: all 0.2s linear;
  border-left: 3px solid transparent;
  position: relative;
}

.match-status {
  font-size: 0.8rem;
  color: yellow;
  position: absolute;
  right: 5%;
  top: 25%;
  border-bottom: 1px solid yellow;
}

/** Panel-1 */

#panel-1 {
  position: relative;
  width: 99%;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.panel-title h1 {
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 4.5rem;
  letter-spacing: -0.2rem;
  text-align: center;
  padding: 3rem 0;
}

.match-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  height: 600px;
  overflow-y: scroll;
}

.match-cards::-webkit-scrollbar {
  display: none;
}

.match-card {
  background-color: #1e242e;
  border-radius: 25px;
  width: 275px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  position: relative;
}

.match-card a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-secondary-5);
  transition: color 0.2s ease;
}

.match-card a:hover {
  color: #fde52a;
}

.match-card-options {
  position: absolute;
  top: -18%;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
}

.match-card-option {
  width: 100%;
  height: 60px;
  padding: 0.5rem 0;
  text-align: center;
  cursor: pointer;
  color: #444;
}

.match-card-option h3 {
  font-weight: normal;
  font-size: 1rem;
}

.active-card-option {
  background-color: #1e242e;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
}

.match-abv {
  margin-top: 2rem;
}

.match-team-logo {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.288);
  padding: 0.5rem;
  border-radius: 50%;

  cursor: pointer;
}

.match-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  /* background-color: #912929; */
}

.match-score {
  background-color: #171b22;
  padding: 0.4rem 1rem;
  border-radius: 10px;
}

.panel-1-2 {
  position: relative;
}

.panel-stats {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  top: 57%;
  left: 0%;
}

.panel-stat {
  height: 150px;
  width: 225px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0b0713;
}

.panel-stat p {
  font-size: 0.9rem;
}

.panel-stat h2 {
  font-size: 60px;
  font-weight: bold;
}

.bg-title {
  position: fixed;
  top: 5%;
  left: 25%;
  z-index: -1;
  font-size: 250px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(69, 68, 78, 1) 0%,
    rgba(93, 92, 99, 0.116) 25%,
    rgba(93, 92, 99, 0.116) 75%,
    rgba(69, 68, 78, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.chat-container {
  min-height: 500px;
  width: 95%;
  margin: 2rem auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.chat-title {
  width: 100%;
  text-align: center;
  color: var(--color-secondary-2);
  background-color: #1e2025;
  padding: 1rem 0;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;

  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
}

.chat-close {
  position: absolute;
  color: #912929;
  font-size: 2rem;
  transition: color 0.2s ease;
  cursor: pointer;
  right: 5%;
  top: 2%;
}

.chat-close:hover {
  color: red;
}

.chat-inputs {
  height: 100px;
  width: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #1e2025;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-inputs i {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #777;
  transition: color 0.2s ease;
  cursor: pointer;
}

.chat-inputs i:hover {
  color: #ccc;
}

#chat-input {
  height: 50px;
  width: 70%;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--color-secondary-2);
}

.chat-content {
  width: 100%;
  background-color: #1a1717a1;

  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow-y: hidden;
  height: 350px;
}

.chat-message {
  display: flex;
  margin: 0.2rem;
  max-width: 90%;
  min-height: 50px;
  padding: 0.4rem 0;
  background-color: #6b8860;
  border-radius: 5px;
}

.chat-message img {
  height: 50px;
  clip-path: circle(25px at center);
}

.message-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-body h3 {
  font-size: 1rem;
  color: #0ed6a8;
}

.message-body p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
}

.mini-news-container {
  width: 100%;
  max-height: 600px;
  overflow-y: scroll;
  border-radius: 25px;
  /* background-color: #17233f; */
}

.mini-news-container::-webkit-scrollbar {
  display: none;
}

.mini-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secondary-3);
  width: 300px;
  border-radius: 25px;
  margin: 1rem auto;
}

.mini-news h4 {
  text-align: center;
}

.mini-news img {
  width: 275px;
  height: 250px;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(0.8);
  transform: scale(0.9);
  transition: all 0.5s ease;
  cursor: pointer;
}

.mini-news img:hover {
  filter: brightness(1.1);
  transform: scale(0.95);
}

.mini-news h4 {
  font-weight: normal;
  padding-top: 1rem;
}

/** Signup */

.signup-container {
  margin: auto;
  width: 70vw;
  height: 80vh;
  background-color: var(--color-secondary-3);
  border-radius: 25px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  display: flex;
}

.signup-showcase {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #132f5d9e;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.showcase-video {
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  opacity: 0.2;
  object-fit: contain;
  filter: brightness(0.4);
}

.signup-form {
  width: 50%;
  height: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form .description {
  width: 90%;
  margin-bottom: 2rem;
}

.signup-form .description h2 {
  font-size: 1rem;
  margin: 1rem 0;
}

.signup-form .description p {
  font-size: 0.7rem;
  color: #888;
  font-family: "Roboto", sans-serif;
}

.signup-form form {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-input {
  width: 80%;
  margin: 0.3rem 0;
  padding: 0 1rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 1px solid #42464f;
}

.sign-input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sign-input-row input {
  width: 120px !important;
}

.sign-input:hover {
  border: 1px solid #364f8a;
  background-color: rgb(17, 21, 26);
}

.sign-input i {
  font-size: 1.5rem;
  color: #99a3a1;
}

.sign-input input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 0.6rem 0;
  margin: 0.4rem;
  border-radius: 6px;
  width: 285px;
}

form select {
  width: 285px;
  padding: 0.4rem 0;
  background-color: #912929;
  font-weight: bold;
}

.terms {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
}

.terms label {
  font-size: 0.7rem;
}

form button {
  padding: 0.8rem 3rem;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

/** Inventory */

.inventory-container {
  height: 30vh;
  width: 100vw;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  left: 0;
}

.inventory-container::-webkit-scrollbar {
  display: none;
}

.inventory-empty {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inventory-empty a {
  color: red;
  text-decoration: none;
}

.inventory-empty-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.4);
  background: url("https://nba.thedailydunk.co/wp-content/uploads/2018/10/James-Harden-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.inventory-table {
  width: 100%;
  background-color: var(--color-secondary-3);
}

.inventory-table thead {
  z-index: 10;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.747);
  /* width: 100vw; */
}

.inventory-table th {
  position: sticky;
  z-index: 10;
  top: 0;
  padding: 1rem 0;
  background-color: var(--color-secondary-1);
}

.inventory-table tr {
  cursor: pointer;
}

.inventory-table tr:hover {
  background-color: var(--color-secondary-1);
}

.inventory-table td,
.inventory-table th {
  padding: 0.3rem 0.2rem;
  text-align: center;
}

tr .headshot img {
  height: 50px;
  clip-path: circle(25px at center);
}

th:hover {
  color: rgb(192, 151, 48);
}

th i {
  margin-left: 1rem;
}

.inventory-grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.grid-card {
  width: 100px;
  height: 100px;
  margin: 1rem;
  background-color: var(--color-secondary-3);
  cursor: pointer;
  filter: brightness(0.8);
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  border: 5px inset #554177;

  background-image: url("https://media2.giphy.com/media/cjojgtiigyloyCg3r9/giphy-downsized-large.gif");
}

.grid-card:hover {
  filter: brightness(1.2);
  transform: scale(1.08);
}

.grid-card .headshot {
  width: 100px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  border-radius: 18px;
}

.grid-card .rating {
  position: absolute;
  bottom: -10%;
  z-index: 10;
  left: -5%;
}

.grid-card .fas {
  position: absolute;
  top: 0;
  right: 0;
  color: yellow;
}

.grid-card .team-logo {
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

/** Cards */

/*! TODO/FIX ? .team-card {
  height: 500px;
  width: 375px;
  background-color: #912929;
  border: 6px solid #1e2025;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-card .card-bg {
}

.team-card .card-content {
  background-color: #821818;
  width: 90%;
  height: 92%;
  border: 6px solid #1e2025;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.card-text {
  color: black;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 45px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.57);
}

.card-role {
  background-color: #ddd;
  padding: 0.2rem 1.7rem;

  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.card-identity p {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  margin: 0 0.7rem;
}

.card-identity {
  background-color: #ddd;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  z-index: 2;

  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 45px;
} */

/** Myteam Cards */

.team-container > h1,
.team-container h3 {
  width: 100%;
  text-align: center;
}

.myteam-cards {
  display: flex;
  height: 80%;
  justify-content: space-around;
  /* align-items: center; */
}

.myteam-card {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease-in;
  filter: brightness(0.5);
  cursor: pointer;

  width: 285px;
  height: 400px;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
}

.myteam-card-active {
  transform: translateY(-35px) scale(1.02);
  filter: brightness(1);
  z-index: 2;
}

.myteam-card img {
  max-height: 400px;
}

/** Utils */

#menu-cls-btn {
  font-size: 35px;
  color: rgb(145, 41, 41);
  position: absolute;
  right: 3%;
  top: 1%;
  cursor: pointer;
  transition: all 0.25s ease;
}

#menu-cls-btn:hover {
  color: red;
}

.score {
  color: #ccc;
}

.white {
  color: white;
}
.yellow {
  color: yellow;
}

.red {
  color: rgb(214, 42, 42);
}

.blue {
  color: rgb(59, 59, 172);
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.fa-plus,
.fa-minus {
  transition: transform 1s ease;
}

.fa-plus {
  transform: rotateZ(180deg);
}

.panel-down-arrow i {
  position: fixed;
  bottom: 1%;
  right: 50%;
  font-size: 2rem;

  cursor: pointer;
  animation: down-arrow 1s ease alternate-reverse infinite;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/** Animations */

@keyframes down-arrow {
  0% {
    transform: translateY(-5px);
    opacity: 1;
  }
  100% {
    transform: translateY(5px);
    opacity: 0.5;
  }
}

.article-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** Events */

#events {
  margin-top: 20rem;
}

.event {
  color: white;

  width: 70%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(59, 68, 95);
  border-radius: 15px;
  margin: 1rem auto;
}

.event .time {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 155px;
}

.event .details {
  background-color: rgb(40, 31, 60);
  padding: 1rem 0.6rem;
  border-radius: 10px;
  /* min-width: 250px; */
  width: 325px;
  max-height: 60px;

  align-self: flex-start;
  margin: 0.7rem 0;

  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-around;

  transition: all 0.6s ease-in;
  cursor: pointer;
}

/* .event .details */

.event .details:hover {
  max-height: 500px;
  background-color: rgb(72, 131, 42);

  z-index: 100;
}

.detail {
  width: 100%;
  /* height: 60px; */
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail p:nth-child(1) {
  width: 50px;
}

.event .team {
  display: flex;
  color: #bbb;
  align-items: center;
  width: 220px;
  justify-content: space-between;
}

.event .team img {
  width: 55px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.event .team img:hover {
  transform: scale(1.15);
}

.event .score {
  background-color: rgb(25, 20, 36);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.event .clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(199, 43, 38);
  border-radius: 15px;
  padding: 0.2rem;
}

/*! REMONTE LE SI POSSIBLE */
#menu a {
  text-decoration: none;
  color: inherit;
}

/** Articles */

.article-list {
  display: flex;
  width: 100%;
  flex-flow: row-reverse wrap;
  justify-content: center;
}

.article-thumbnail {
  height: 500px;
  width: 350px;
  margin: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  filter: brightness(0.6);
  transition: all 0.25s ease-in-out;
}

.article-thumbnail:hover {
  filter: brightness(1);
  transform: scale(1.075);
}

.article-thumbnail img {
  height: 100%;
  position: absolute;
  top: 0;
  left: -25%;
  z-index: -1;
}

.article-thumbnail p {
  mix-blend-mode: difference;
  font-size: 0.7rem;
}

.article-thumbnail h3 {
  mix-blend-mode: difference;
  font-size: 1.6rem;
  font-weight: bold;
}

.article-thumbnail button {
  padding: 0.7rem 4rem;
  background-color: #70591dcd;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}

.article-thumbnail button:hover {
  background-color: #e4b745cd;
}

/** Pack Creator */

.create-pack-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.pack-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #555;
  width: 80%;
  height: 80%;
  margin: auto;

  border-radius: 25px;
  box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.3);
}

.pack-players {
  width: 100%;
  height: 100%;
}

.pack-player {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
  /* justify-content: space-between; */
}

.pack-player:hover {
  background-color: rgba(69, 68, 78, 1);
}

.pack-player p {
  margin: 0 1rem;
}

.pack-player img {
  height: 100px;
  clip-path: circle(45px at center);
}

.pack-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 95%;
  margin: auto;

  overflow-y: scroll;
}

.pack-creator::-webkit-scrollbar {
  display: none;
}

#pack-searchbar {
  width: 300px;
  position: relative;
  padding: 0.4rem 1rem;
  /* border-radius: 25px; */
  border: 2px solid rgb(59, 59, 211);
  background-color: rgba(93, 93, 175, 0.26);
  outline: none;
  color: white;
}

#pack-searchbar::placeholder {
  color: white;
}

.pack-creator-player {
  display: flex;
  flex-direction: column;
  background-color: rgba(84, 84, 82, 0.311);
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
}

.pack-creator-player img {
  height: 300px;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  filter: brightness(0.45);

  transition: all 0.5s ease;
}

.pack-creator-player img:hover {
  filter: brightness(1);
}
