*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*test css fait pas attention c'est temporaire */
}
/*? Roboto */
/*? Poppins */


body, button, input{
	font-family: 'Poppins', 'Roboto', sans-serif;
}

.articles
{
	margin-top: 10rem:
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: row-reverse wrap;	
	justify-content: flex-end;
}

.article{
	width: 350px;
	max-height: 450px;
	background-color: #f3f3f3;
	
	margin: 1rem;
	border-radius: 25px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	filter: brightness(0.9);
	transition: all 0.25s ease-in-out;

}

.article a{
	text-decoration: none;
}

.article:hover{
	transform: scale(1.05);
	filter: brightness(1);
}

.article-content{
	padding: 2rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article-content h1
{
	font-weight: normal;
	padding: 1rem 0;
	border-bottom: 1px solid #333;
	width: 80%;
	text-align: center;
	}

.article-content p{
	padding: 1rem 0;
	height: 60px:
	font-style: italic;
	color: #777;
	width:80%;
	text-align: center;
	}

.article-image {
	width: 98%;
	margin: 0.1rem auto;
	
	display: flex;
	justify-content: center;
	

}

.article-image img{
	width: 100%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	filter: brightness(0.8);
	transition: filter 0.35s ease;
	cursor: pointer;

}

.article-image img:hover{
	filter: brightness(1);
}

.article-buttons{
	width: 100%;
	display: flex;
	justify-content: space-around;

}

.article-button{
	cursor: pointer;
	padding: .4rem 1rem;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 7px;
	outline: none;
	
}

#delete-btn{
	background-color: #e03030;
}

#modify-btn{
	background-color: #664EF7;
}
